$font: Arial, Helvetica, sans-serif;

.container {
  background-color: wheat;
  margin: 50px 50px;
  position: relative;
  padding: 150px 30px 30px;
  border: 4px solid black;
  box-shadow: 0 100px 100px rgb(0 0 0 / 20%);
}

.input-form {
  display: grid;
  gap: 30px;
  align-content: center;
  padding: 10px 150px;
}

mat-form-field {
  width: 100%;
  font-family: $font;

  input {
    background-color: wheat; /* Csak az input mezőre vonatkozik */
    border-radius: 4px; /* Ha szükséges, lekerekítheted */
    padding: 10px; /* Adj belső margót az input mezőnek */
  }

  .mat-form-field-outline {
    border-radius: 4px; /* A szegély lekerekítése, ha szükséges */
  }
}

button {
  background-color: white !important;
  font-family: $font;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  height: 50px;
  border: 3px solid grey;
}

header {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  font-family: $font;
  padding: 5px 0px;
}

footer {
  margin: 40px 10px 10px 10px;
  text-align: center;
}

footer a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
