<body>
  <div class="container">
    <header>Bejelentkezés</header>

    @if (isLoading){
    <div class="loading-container">
      <h2>Belépés folyamatban...</h2>
      <mat-spinner diameter="50"></mat-spinner>
      <p>Kis türelmét kérjük!</p>
    </div>
    } @if (showLoginForm){
    <form (ngSubmit)="login()" class="login-form">
      <mat-form-field appearance="outline">
        <input
          matInput
          type="email"
          placeholder="Email"
          [formControl]="email"
        />
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input
          matInput
          type="password"
          placeholder="Jelszó"
          [formControl]="password"
        />
        <mat-icon matSuffix>lock</mat-icon>
      </mat-form-field>

      @if (loginError){
      <div class="error-message">
        {{ loginError }}
      </div>
      }
      <button mat-flat-button color="primary" type="submit">
        Bejelentkezés
      </button>
    </form>

    <footer>
      Még nincs fiókod?
      <button mat-flat-button [routerLink]="['/signup']">Regisztrálás</button>
    </footer>
    }
  </div>
</body>
