$font: Arial, Helvetica, sans-serif;

.container {
  background-color: yellow;
  margin: 50px 50px;
  position: relative;
  padding: 150px 30px 30px;
  border: 4px solid black;
  box-shadow: 0 100px 100px rgb(0 0 0 / 20%);
}

.input-form {
  display: grid;
  gap: 30px;
  align-content: center;
  padding: 10px 150px;
}

mat-form-field {
  width: 100%;
  font-family: $font;

  .mat-form-field-outline {
    border-radius: 50px; // Lekerekített szélek
  }

  .mat-form-field-label {
    font-family: $font;
    color: black;
  }

  input {
    background-color: lightyellow;
    border-radius: 50px;
    padding: 10px 20px;
  }
}

button {
  background-color: lightblue !important;
  font-family: $font;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50px;
  height: 50px;
}

header {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
  font-family: $font;
  padding: 5px 0px;
}

footer {
  margin: 40px 10px 10px 10px;
  text-align: center;
}

footer a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}
