button {
  background-color: chartreuse;
  border-radius: 10px;
  width: 500px;
  text-align: center;
  height: 50px;
  font-size: larger;
  font-weight: bold;
  border: 2px solid black;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: aquamarine;
}

header {
  background-color: rgb(4, 143, 34);
  color: white;
  padding-inline: 16px;
  padding-block: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-container {
  background-image: url("../../../../public/800_3492724_ec3010b74292f083042b11e510c663b1e4efb4b4.jpg");
}
