body {
  background-image: url("../../../../public/upscalemedia-transformed.jpeg");
  background-size: cover;
  background-color: #90e1f5;
}

header {
  background-color: rgb(4, 143, 34);
  color: white;
  padding-inline: 16px;
  padding-block: 8px;
}

.home-container {
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.medicines {
  background-color: #4caf50 !important;
  color: white;
  font-size: large;
  border-radius: 8px;
  box-shadow: 0 4px 60px rgba(0, 0, 0, 0.25);
  max-width: 500px;
}
