<aside class="filter-panel">
  <ul>
    <li>
      <input
        type="radio"
        id="painkillers"
        name="medicine-category"
        (change)="onCategoryChange('painkillers')"
      />
      <label for="painkillers">Fájdalomcsillapító</label>
    </li>
    <li>
      <input
        type="radio"
        id="anti-inflammatory"
        name="medicine-category"
        (change)="onCategoryChange('anti-inflammatory')"
      />
      <label for="anti-inflammatory">Gyulladáscsökkentő</label>
    </li>
    <li>
      <input
        type="radio"
        id="vitamins"
        name="medicine-category"
        (change)="onCategoryChange('vitamins')"
      />
      <label for="vitamins">Vitaminok, immunerősítők</label>
    </li>
    <li>
      <input
        type="radio"
        id="lifestyle"
        name="medicine-category"
        (change)="onCategoryChange('lifestyle')"
      />
      <label for="lifestyle">Életmód</label>
    </li>
    <li>
      <input
        type="radio"
        id="baby-mom"
        name="medicine-category"
        (change)="onCategoryChange('baby-mom')"
      />
      <label for="baby-mom">Baba-Mama</label>
    </li>
  </ul>
</aside>
