.filter-panel {
  background: white; /* Lilás gradient */
  border-radius: 15px;
  padding: 20px 25px;
  width: 200px;
  position: sticky;
  left: 20px;
  top: 20px; /* A top értéket állítsd kisebbre */
  box-shadow: 0 0 10px var(--primary-color), 0 0 20px var(--accent-color); /* Neon hatás */
  color: var(--text-color);
  font-family: "Orbitron", sans-serif; /* Futurisztikus betűtípus */
}

mat-card-title {
  color: var(--primary-color);
}

@media (max-width: 732px) {
  .filter-panel {
    width: 100%;
    left: 0;
    top: 10px;
    padding: 15px;
  }

  h2 {
    font-size: 1.2rem;
  }

  .filter-panel li {
    font-size: 0.9rem;
  }
}
