<aside class="filter-panel">
  <h2><label for="filter-panel">Szűrés</label></h2>
  <ul>
    <li>
      <input
        type="radio"
        id="painkillers"
        name="medicine-category"
        (change)="onCategoryChange('painkillers')"
      />
      <label for="painkillers">Fájdalomcsillapító</label>
    </li>
    <li>
      <input
        type="radio"
        id="vitamins"
        name="medicine-category"
        (change)="onCategoryChange('vitamins')"
      />
      <label for="vitamins">Vitaminok</label>
    </li>
  </ul>
</aside>
