body {
  background-color: lightcyan; /* Az egész oldal háttere */
  margin: 0; /* Eltávolítja az alapértelmezett margót */
  padding: 0; /* Eltávolítja az alapértelmezett paddinget */
  font-family: Arial, sans-serif; /* Opcionális: alapértelmezett betűtípus */
}

.page-layout {
  display: flex;
  align-items: flex-start;
}

.medicine-container {
  flex: 1;
  margin-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.medicine-card {
  border: 1px solid greenyellow;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
}
