<body>
  @if (successMessage) {
  <div class="success-message">
    {{ successMessage }}
  </div>
  }
  <div class="page-layout">
    <div class="filter-and-add">
      <app-filter
        (categorySelected)="onCategorySelected($event)"
        (sortChanged)="onSortChanged($event)"
      >
      </app-filter>
      @if (isLoggedIn) {
      <button
        mat-raised-button
        color="primary"
        class="important-button"
        (click)="addMedicine()"
      >
        <mat-icon>add</mat-icon>
        Gyógyszer hozzáadása
      </button>
      }
    </div>

    <div class="medicine-container">
      @for (medicine of filteredMedicines; track medicine.id) {
      <mat-card class="medicine-card">
        <mat-card-header>
          <mat-card-title>{{ medicine.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-subtitle class="price-tag"
          >{{ medicine.price }} Ft</mat-card-subtitle
        >
        <img mat-card-image [src]="medicine.imgURL" [alt]="medicine.name" />

        <mat-card-content>
          @if (medicine.description) {
          <mat-card-content>{{ medicine.description }}</mat-card-content>
          } @else {
          <p class="no-description">Nincs leírás</p>
          }
        </mat-card-content>
        @if (isLoggedIn) {
        <mat-card-actions>
          <button mat-button color="primary" (click)="addToCart(medicine)">
            <mat-icon>add_shopping_cart</mat-icon>
            Hozzáadás
          </button>
          <button mat-button color="accent" (click)="updateMedicine(medicine)">
            <mat-icon>edit</mat-icon>
            Szerkesztés
          </button>
        </mat-card-actions>

        }
      </mat-card>
      }
    </div>
  </div>
</body>
